# Este archivo es un ejemplo de variables de entorno
# Para usar este proyecto, crea un archivo .env.local con estas variables

# Vercel
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Node
NODE_ENV=development
